:root {
  --bg-section: #1ABC9C;
  --bg-header-footer: #2C3E50;
  --bg-where-us: #3A546D;
}

.debug-y-0 {
  background-color: rgba(150, 37, 37, 0.2); 
  border: 1px solid;
}

.debug {
  min-height: 80px;
  background-color: rgba(150, 37, 37, 0.2); 
  border: 1px solid;
}

.container-ctm {
  width: 70%;
  margin: 0 auto;
}

.bg-green {
  background-color: var(--bg-section);
}

.bg-where-us {
  background-color: var(--bg-where-us);
}

.bg-header,
.bg-footer {
  background-color: var(--bg-header-footer);
}

nav ul > li {
  list-style: none;
  display: inline-block;
}

nav ul > li > a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h4 {
  font-weight: 600;
}