:root {
  --bg-section: #1ABC9C;
  --bg-header: #2C3E50;
}

.debug-y-0 {
  background-color: rgba(150, 37, 37, 0.2); 
  border: 1px solid;
}

.debug {
  min-height: 80px;
  background-color: rgba(150, 37, 37, 0.2); 
  border: 1px solid;

}

nav ul > li {
  list-style: none;
  display: inline-block;
}

nav ul > li > a {
  text-decoration: none;
}

.bg-green {
  background-color: var(--bg-section);
}

.container-ctm {
  width: 70%;
  margin: 0 auto;
}