:root {
  --bg-section: #1ABC9C;
  --bg-header-footer: #2C3E50;
  --bg-where-us: #3A546D;
}

.bg-green {
  background-color: var(--bg-section);
}

.bg-where-us {
  background-color: var(--bg-where-us);
}

.bg-header,
.bg-footer {
  background-color: var(--bg-header-footer);
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h4 {
  font-weight: 600;
}

/*********************
        UTILITY
*********************/

.debug-y-0 {
  background-color: rgba(150, 37, 37, 0.2); 
  border: 1px solid;
}

.debug {
  min-height: 80px;
  background-color: rgba(150, 37, 37, 0.2); 
  border: 1px solid;
}

.container-ctm {
  width: 70%;
  margin: 0 auto;
}


/*********************
        HEADER
*********************/

header {
  height: 90px;
}

header a {
  color: white;
}

header .logo > a h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

header nav ul > li {
  list-style: none;
  display: inline-block;
}

header nav ul > li > a {
  font-size: 17px;
  font-weight: 600;
}

header nav ul > li > a:hover {
  color: var(--bg-section);
}

header nav button.menu_btn i {
  position: relative;
  /* top: 2px; */
  color: #888;
  font-size: 1.2rem;
}


/*********************
        FOOTER
*********************/

footer section.footer-bottom {
  height: 100px;
  color: white;
}